@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", "Geist Sans", system-ui, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  box-sizing: border-box;
}
